body{
    background-color: rgb(254,250,239);
}

.main-content{
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer{
    padding-top: 12px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.quiz-card{
    width: 30rem;
    
} 

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
}